.card__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  .card {
    min-height: 250px;
    overflow: hidden;
    display: grid;
    place-items: center;
    border: 3px solid hsla(0, 0%, 0%, 0.08);
    flex: 1 1 calc((100% - (4 * 16px)) / 1);
    box-sizing: border-box; 

    .ant-card-body {
      display: none;
    }

    .ant-card-cover img {
      border-radius: 0px;
    }
  }
}

@media screen and (min-width: 576px) {
  .card__list {
    .card {
      flex: 1 1 calc((100% - (4 * 16px)) / 2);
    }
  }
}

@media screen and (min-width: 768px) {
  .card__list {
    .card {
      flex: 1 1 calc((100% - (4 * 16px)) / 3);
    }
  }
}

@media screen and (min-width: 1200px) {
  .card__list {
    .card {
      flex: 1 1 calc((100% - (4 * 16px)) / 5);
    }
  }
}

@media screen and (min-width: 1400px) {
  .card__list {
    .card {
      flex: 1 1 calc((100% - (4 * 16px)) / 5);
    }
  }
}
