.sidebar__add-clothes, 
.sidebar__add-user {
  display: flex;
  flex-direction: column;
  padding: 4px;

  .button {
    width: 100%;
  }
}

.sidebar__add-user {
  margin-top: 8px;
  
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    color: #fff;
  }
}

hr {
  border-top: 3px solid #fff !important;
}